/* 404 页面样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* 使用无衬线字体 */
    background: linear-gradient(
        135deg, #0FADF1, #cbcbcb
    ); /* 渐变背景 */
    display: flex; /* 使用 flex 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 占满整个视口高度 */
    color: #1D384A; /* 设置文本颜色 */
    text-align: center; /* 文本居中 */
}

.container {  /* 容器样式 */
    display: flex; /* 使用 flex 布局 */
    flex-direction: column; /* 垂直排列 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    text-align: center; /* 文本居中 */
}

.container .error-message { /* 错误信息样式 */
    padding: 20px;
    border-radius: 10px; /* 圆角边框 */
    background-color: rgba(255, 255, 255, 0.5); /* 半透明背景 */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    width: 100%; /* 宽度 */
    max-width: 500px; /* 最大宽度 */
    margin: auto; /* 水平居中 */
}

.container .error-message h1 {
    font-size: 100px; /* 字体大小 */
    font-weight: bold; /* 字体加粗 */
    color: #6395ce; /* 字体颜色 */ 
}

.container .error-message p {
    font-size: 20px; /* 字体大小 */
    color: #1D384A; /* 字体颜色 */
    margin: 30px 0; /* 上下边距 */
}

.container .error-message .home-link {
    font-size: 18px; /* 字体大小 */
    color: #6395ce; /* 字体颜色 */
    text-decoration: none; /* 去除下划线 */
    padding: 10px 20px; /* 内边距 */
    border: 2px solid #6395ce; /* 边框 */
    border-radius: 5px; /* 圆角边框 */
    transition: all 0.3s; /* 过渡效果 */
}

.container .error-message .home-link:hover { /* 鼠标悬停时样式 */
    color: #fff; /* 字体颜色 */
    background-color: #6395ce; /* 背景颜色 */
}

@media (max-width: 768px) { /* 当屏幕宽度小于 768px 时 */
    h1 {
        font-size: 80px; /* 字体大小 */ 
    }

    .error-message { /* 错误信息样式 */
        width: 80%; /* 宽度 */
    }
}