.video {
    height: 90vh; /* 设置高度 */
}
.video video { /* 视频样式 */
    width: 100%; /* 视频宽度 */
    height: 100%; /* 视频高度 */
    object-fit: cover; /* 视频填充方式 */
    position: absolute; /* 绝对定位 */
    top: 0; /* 顶部边距 */
    left: 0; /* 左边距 */
    z-index: -1; /* z-index 属性设置元素的堆叠顺序 */
    object-position: 10%; /* 视频位置 */
}
/* --------------------------------------------- */


/* bootstrap样式 */

/* 展开后文本背景颜色 */
div.accordion-body {
    background-color: rgba(86, 178, 240, 0.6);
}

/* 原始按钮背景 */
button.accordion-button.collapsed {
    background-color: #93d5e0;

}

.video h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent; /* 使文字透明，为渐变提供支持 */
    font-size: 4em; /* 字体大小 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 保持文字阴影 */
    
    /* 使用渐变背景并为所有现代浏览器提供支持 */
    background: linear-gradient(to top, #ffffff, #09a1f8);
    -webkit-background-clip: text; /* Safari 和 Chrome 的支持 */
    background-clip: text; /* 其他浏览器（如 Firefox）对 text 背景剪裁的支持 */
}
/* #accordionExample {
    min-height: 100vh;
} */
#loading {
    color: transparent; /* 使文字透明，为渐变提供支持 */
    font-size: 4em; /* 字体大小 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 保持文字阴影 */
    
    /* 使用渐变背景并为所有现代浏览器提供支持 */
    background: linear-gradient(to top, #ffffff, #09a1f8);
    -webkit-background-clip: text; /* Safari 和 Chrome 的支持 */
    background-clip: text; /* 其他浏览器（如 Firefox）对 text 背景剪裁的支持 */
    
}



